:root {
    --dark-blue: #00274c;
    --blue: #007bff;
    --maize: #ffcb05;
    --gray: #333333;
}

.happening-feed {
    width: 100%;
}

.happening-feed a{
    color: var(--maize);
    font-weight: bold;
    line-height: 125%;
    text-decoration: none;
}

.happening-feed a:hover{
    text-decoration: underline;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.event-row{
    contain: layout style inline-size;
}

.event{
    box-sizing: border-box;
    border: #fff solid 5px;
    background: var(--gray);
    padding: 0px;
    min-height: 300px;
    position: relative;
    color: #fff;
}

.event-text{
    background: var(--gray);
    padding: 5px;
}

.link-to-happening{
    border: #fff solid 5px;
    background: var(--gray);
    padding: 10px;
    justify-content: center;
    margin-bottom: 5px;
}

.link-to-happening a{
    font-size: 14px;
}

.link-container{
    flex: 0 0 50%;
    max-width: 50%;
    line-height: 100%;
    font-size: 11px;
}

.event ul, .event-wide ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    font-size: 12px;
}

.event li, .event-wide li{
    list-style-type: none;
    font-size: 12px;
    line-height: 1.42857;
}

.event h3, .event-wide h3{
    margin: 5px 0;
    line-height: 50%;
}

.event h3 a, .event-wide h3 a{
    font-size: 14px;
}

.event-image{
    color: white;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    text-align: center;
    height: 160px;
    position: relative;
}

.maize{
    color: var(--maize);
}

.blue{
    color: var(--blue);
}

.pagination-container{
    justify-content: center;
}

.page-button{
    padding: 15px 15px;
    text-align: center;
    border-radius: 4px;
    background-color: var(--maize);
    font-size: 16px;
    transition-duration: 0.4s;
}

.page-button:hover {
    background-color: #ffe205;
    cursor: pointer;
}

.current-page{
    background-color: #007bff;
}

/* wide settings start here*/

.event-wide{
    box-sizing: border-box;
    border: #fff solid 5px;
    background: var(--gray);
    padding: 0px;
    min-height: 160px;
    position: relative;
    color: #fff;
}

.event-text-wide{
    background: var(--gray);
    padding: 5px;
}

.event-image-wide{
    color: white;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    text-align: center;
    height: 160px;
    position: relative;
    width: 30%;
    float: left;
    margin-right: 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }

/* Modal Content */
.modal-content {
    position: fixed;
    background-color: #fefefe;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    overflow: scroll;
}

.modal-content a{
    color: var(--blue);
}

.modal-button{
    position: absolute;
    right: 5px;
    bottom: 5px;
    border: none;
    text-decoration: none;
    background-color: transparent;
    color: var(--maize);
    font-family: inherit;
}

.modal-button:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: var(--maize);
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    padding: 2px 16px;
    background-color: var(--dark-blue);
    color: var(--maize);
}
  
.modal-body {
    padding: 16px;
}

.modal-row{
    display: flex;
}

.modal-main{
    width: 70%;
    padding: 0 5px 0 15px;
    line-height: 140%;
}

.modal-text{
    color: var(--dark-blue);
    overflow-wrap: break-word;
}

.modal-side{
    width: 30%;
}

.modal-image{
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    text-align: center;
    width: 100%;
    min-height: 200px;
    position: relative;
}

.small-title{
    font-weight: bold;
    padding: 5px 0;
}

.modal-link{
    font-size: 14px;
}

#modal-event-link{
    font-size: 16px;
    float:right;
    margin-right: 16px;
    margin-bottom: 10px;
}

/* media query for modal*/
@media screen and (max-width: 800px) {
    .modal-body{
        display: block;
    }
    .modal-main{
        width: 100%;
        margin-top: 10px;
        padding: 0px;
    }
    .modal-side{
        width: 100%;
    }
}

/*search bar*/
.feed-search{
    background-image: url(images/search.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-content{
    height: 50%;
    width: 80%;
    padding: 5px 20px 20px 15px;
    background: rgba(255,255,255,.7);
    border-radius: 10px;
    position: relative;
}

.feed-input{
    height: 30%;
    width: 100%;
}

/* Add Animation */
@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}